<nav class= "navigation">
    <ul>
        <a class= "nav-link" > Logo</a>
        <a class= "nav-link"> Home</a>
        <a class= "nav-link"> Work</a>
        <a class= "nav-link"> Contact</a>
        <a class= "nav-link"> About Me</a>
        <a class= "nav-link" href = "/users/signup"> Sign Up</a>
        <a class= "nav-link" href = "/users/login"> Log In</a>
    </ul>
</nav>