<head>
    <title>Rock Scissors Paper</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
</head>

<body>

  <div class="not-found">
      Page not found.
  </div>

</body>
</html>