<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/users.css" />
    <title>List of Users</title>
  </head>
  <body>
    <div class="container d-flex flex-column">
      <h3 style="margin-right: auto; margin-bottom: 1em">
        <a href="/signup">Create New User</a>
      </h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% user.forEach(el => { %>
          <tr>
            <th scope="row"><%= el.id %></th>
            <td><%= el.username %></td>
            <td><%= el.password %></td>
            
            <td>
              <a
                class="btn btn-success btn-edit"
                href="/users/update/<%= el.id %>"
                >Update</a
              >
              |
              <a
                class="btn btn-danger btn-delete"
                href="/users/delete/<%= el.id %>"
                onclick="confirm('are you sure want to delete?');"
                >Delete</a
              >
            </td>
            <td></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>