<form method="POST" action = "/signup">

  <h1>Sign Up</h1>

  <label for="username"><b>Usename</b></label>
  <br>
  <input type="text" name="username">
  <br>

  <label for="password"><b>Password</b></label>
  <br>
  <input type="password" name="password">
  <br>

  <button type="submit">Sign Up</button>
    
</form>