<head>
    <title>Rock Scissors Paper</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="rsp_game.css">
    
</head>

<body>
    <div class = "heading">
        <div class = "back-button">
            <a href = "/"><img id= "backButton" href = "index.html" src = "assets/back_button.png"></a>
        </div>
        <div class = "logo">
            <img id = "logoImage" src = "assets/logo.png">
        </div>
        <div class = "title">
            <h2> ROCK SCISSORS PAPER</h2>
        </div>
    </div>
    <div class = "container">
        <div class = "choices">
            <h1>PLAYER 1</h1>
            <img id = "player-rock" href = "#player-rock" class = "player-choice" src = "assets/batu.png">
            <img id = "player-scissors" href = "#player-scissors" class = "player-choice" src = "assets/gunting.png">
            <img id = "player-paper" href = "#player-paper" class = "player-choice" src = "assets/kertas.png">
        </div>

        <img class = "result-image" src = "assets/VS.png">

        <div class = "com-choices">
            <h1>COM</h1>
            <img id = "com-rock" class = "com-choice" src = "assets/batu.png">
            <img id = "com-scissors" class = "com-choice" src = "assets/gunting.png">
            <img id = "com-paper" class = "com-choice" src = "assets/kertas.png">
        </div>
    </div>   
    <div id = "refresh-button">
        <img src = "assets/refresh.png">
    </div>

    
    <script src="rsp.js"></script>
</body>
